<!DOCTYPE html>
<html>

<head>
  <title>Flask Blog </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <meta charset="utf-8" />
</head>

<body>



  <nav>
    <h1><a href="/"> <i class="fas fa-home"></i> Flask Blog  </a></h1>

    {% if session['uid'] %}

    <a href="/profile" class="btn btn-secondary btn-sm mx-1" title="Your Profile" type="button" role="button"> <i class="fas fa-user-alt"></i></a>

    <a class="btn btn-secondary btn-sm mx-1" title="Change Password" href="/change_password" ;"> <i class="fas fa-exchange-alt"></i></a>

    <a class="btn btn-secondary btn-sm mx-1"  title="LogOut" href="/logout" ;"> <i class="fas fa-sign-out-alt">  </i> </a>
    
    {% endif %}
    
  </nav>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% block content %}{% endblock %}
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>


</body>

</html>