{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h4>{% block title %}Reply-Posts{% endblock %}</h4>
{% endblock %}

<!-- content block -->
{% block content %}



<center>
  <div class="container mt-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">{{ mypost['title'] }}</h2>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <h6 class="card-subtitle mb-2 text-muted">By {{mypost.author.first_name | title}} {{mypost.author.last_name |
          title}} on <br> {{ mypost['created'] }}</h6>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <p class="card-text">{{ mypost['body'] }}</p>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      </div>
    </div>
  </div>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">

</center>


<div class="div container">
  {% for reply in mypost.comments %}
  <div class="card text-dark bg-light mb-3" style="max-width: 60rem;">

    <div class="card-header"><b>{{reply.author.username}}</b><i> at : {{reply['created']}}</i></div>
    <div class="card-body">
      <p class="card-text">{{ reply['body'] }}</p>
      <hr style="height:2px;border-width:0;color:gray;background-color:#808080">
      <a href="{{url_for('post.edit_reply',post_id = mypost['id'], reply_id = reply.identification)}}"
        class="card-link" title="Edit"><i class="far fa-edit"></i> {{reply.identification}} </a>
      <a href="{{url_for('post.delete_reply',post_id = mypost['id'] , reply_id = reply.identification)}}"
        type="button" class="card-link"><i class="far fa-trash-alt"></i></a>
    </div>

  </div>

</div>

<hr style="height:2px;border-width:0;color:#808080;background-color:gray">

{% endfor %}



<div class="div container">
  <center>
    <form method="POST" class="form-group">
      {{ form.hidden_tag() }}


      {{form.body.label}}

      {{form.body(class_="form-control" , style_="background-color:gray")}}
      <hr style="height:2px;border-width:0;color:gray;background-color:#808080">

      <center> {{form.reply(class_="btn btn-secondary")}} </center>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">


    </form>
  </center>

</div>


{% endblock %}